<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>name</key>
		<string>ZKTeco</string>
		<key>parent_id</key>
		<string></string>
		<key>subs</key>
		<array>
			<dict>
				<key>code</key>
				<integer>10</integer>
				<key>name</key>
				<string>Test Deaprtment1</string>
				<key>parent_id</key>
				<integer>1</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>12</integer>
						<key>name</key>
						<string>Test Deaprtment3</string>
						<key>parent_id</key>
						<integer>10</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>13</integer>
								<key>name</key>
								<string>Test Deaprtment4</string>
								<key>parent_id</key>
								<integer>12</integer>
								<key>subs</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<integer>11</integer>
				<key>name</key>
				<string>Test Deaprtment2</string>
				<key>parent_id</key>
				<integer>1</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>15</integer>
						<key>name</key>
						<string>Deaprtment15</string>
						<key>parent_id</key>
						<integer>11</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>16</integer>
								<key>name</key>
								<string>Department16</string>
								<key>parent_id</key>
								<integer>15</integer>
								<key>subs</key>
								<array>
									<dict>
										<key>code</key>
										<integer>17</integer>
										<key>name</key>
										<string>Department17</string>
										<key>parent_id</key>
										<integer>16</integer>
										<key>subs</key>
										<array>
											<dict>
												<key>code</key>
												<integer>18</integer>
												<key>name</key>
												<string>Department18</string>
												<key>parent_id</key>
												<integer>17</integer>
												<key>subs</key>
												<array/>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<integer>14</integer>
		<key>name</key>
		<string>Software Support</string>
		<key>parent_id</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<integer>19</integer>
		<key>name</key>
		<string>Department19</string>
		<key>parent_id</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>name</key>
		<string>ZKTeco</string>
		<key>parent_id</key>
		<string></string>
		<key>subs</key>
		<array>
			<dict>
				<key>code</key>
				<integer>10</integer>
				<key>name</key>
				<string>Test Deaprtment1</string>
				<key>parent_id</key>
				<integer>1</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>12</integer>
						<key>name</key>
						<string>Test Deaprtment3</string>
						<key>parent_id</key>
						<integer>10</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>13</integer>
								<key>name</key>
								<string>Test Deaprtment4</string>
								<key>parent_id</key>
								<integer>12</integer>
								<key>subs</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<integer>11</integer>
				<key>name</key>
				<string>Test Deaprtment2</string>
				<key>parent_id</key>
				<integer>1</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>15</integer>
						<key>name</key>
						<string>Deaprtment15</string>
						<key>parent_id</key>
						<integer>11</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>16</integer>
								<key>name</key>
								<string>Department16</string>
								<key>parent_id</key>
								<integer>15</integer>
								<key>subs</key>
								<array>
									<dict>
										<key>code</key>
										<integer>17</integer>
										<key>name</key>
										<string>Department17</string>
										<key>parent_id</key>
										<integer>16</integer>
										<key>subs</key>
										<array>
											<dict>
												<key>code</key>
												<integer>18</integer>
												<key>name</key>
												<string>Department18</string>
												<key>parent_id</key>
												<integer>17</integer>
												<key>subs</key>
												<array/>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<integer>2</integer>
		<key>name</key>
		<string>Project</string>
		<key>parent_id</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>name</key>
		<string>ZKTeco</string>
		<key>parent_id</key>
		<string></string>
		<key>subs</key>
		<array>
			<dict>
				<key>code</key>
				<integer>10</integer>
				<key>name</key>
				<string>Test Deaprtment1</string>
				<key>parent_id</key>
				<integer>1</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>12</integer>
						<key>name</key>
						<string>Test Deaprtment3</string>
						<key>parent_id</key>
						<integer>10</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>13</integer>
								<key>name</key>
								<string>Test Deaprtment4</string>
								<key>parent_id</key>
								<integer>12</integer>
								<key>subs</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<integer>11</integer>
				<key>name</key>
				<string>Test Deaprtment2</string>
				<key>parent_id</key>
				<integer>1</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>15</integer>
						<key>name</key>
						<string>Deaprtment15</string>
						<key>parent_id</key>
						<integer>11</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>16</integer>
								<key>name</key>
								<string>Department16</string>
								<key>parent_id</key>
								<integer>15</integer>
								<key>subs</key>
								<array>
									<dict>
										<key>code</key>
										<integer>17</integer>
										<key>name</key>
										<string>Department17</string>
										<key>parent_id</key>
										<integer>16</integer>
										<key>subs</key>
										<array>
											<dict>
												<key>code</key>
												<integer>18</integer>
												<key>name</key>
												<string>Department18</string>
												<key>parent_id</key>
												<integer>17</integer>
												<key>subs</key>
												<array/>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
